HOST: https://api.github.com/

--- Github API test of hooks ---

GET /users/{user}
> If-Modified-Since: "1970-01-01"
< 200
< Content-Type: application/json
{
    "login": "Almad",
    "id": 44565,
    "avatar_url": "https://secure.gravatar.com/avatar/f38b7d2954a2494564ba1a55a66fff83?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png",
    "gravatar_id": "f38b7d2954a2494564ba1a55a66fff83",
    "url": "https://api.github.com/users/Almad",
    "html_url": "https://github.com/Almad",
    "followers_url": "https://api.github.com/users/Almad/followers",
    "following_url": "https://api.github.com/users/Almad/following",
    "gists_url": "https://api.github.com/users/Almad/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/Almad/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/Almad/subscriptions",
    "organizations_url": "https://api.github.com/users/Almad/orgs",
    "repos_url": "https://api.github.com/users/Almad/repos",
    "events_url": "https://api.github.com/users/Almad/events{/privacy}",
    "received_events_url": "https://api.github.com/users/Almad/received_events",
    "type": "User",
    "name": "Almad",
    "company": "Apiary",
    "blog": "http://www.almad.net/",
    "location": null,
    "email": "bugs@almad.net",
    "hireable": false,
    "bio": null,
    "public_repos": 49,
    "followers": 40,
    "following": 57,
    "created_at": "2009-01-06T14:22:37Z",
    "updated_at": "2013-02-20T15:59:35Z",
    "public_gists": 9
}


-- JSON Schema Validations --
GET /xoxo
{
    "type": "object",
    "login": {"type":"string"},
    "id" : {"type": "string"},
    "avatar_url": {"type": "string"},
    "gravatar_id": {"type": "string"},
    "url": {"type": "string"},
    "html_url": {"type": "string"},
    "followers_url": {"type": "string"},
    "following_url": {"type": "string"},
    "gists_url": {"type": "string"},
    "starred_url": {"type": "string"},
    "subscriptions_url": {"type": "string"},
    "organizations_url": {"type": "string"},
    "repos_url": {"type": "string"},
    "events_url": {"type": "string"},
    "received_events_url": {"type": "string"},
    "type": {"type": "string"},
    "name": {"type": "string"},
    "company": {"type": "string"},
    "blog": {"type": "string"},
    "location": {"type": "boolean"},
    "email": {"type": "string"},
    "hireable": {"type": "integer"},
    "bio": {"type": "string"},
    "public_repos": {"type": "integer"},
    "followers": {"type": "integer"},
    "following": {"type": "integer"},
    "created_at": {"type": "string"},
    "updated_at": {"type": "string"},
    "public_gists": {"type": "integer"}
}